@page
@model TimeBlockPlanner.Pages.MetricsModel
@{
    ViewData["Title"] = "Metric Tracking";
}
<script>
    function ShowAdd() {
        document.getElementById("popupForm").style = 'display:block;';
    }

    function HideAdd() {
        document.getElementById("popupForm").style = 'display:none;';
    }

    window.addEventListener("click", function (event) {
        if (event.target == popupForm) {
            CancelAdd();
        }
    });

    function CancelAdd() {
        HideAdd();
        document.getElementById("name").value = '';
        document.getElementById("metricType").value = '';
        document.getElementById("date").value = '';
        document.getElementById("value").value = '';
    }

    function EditRow(tr) {
        document.getElementById("MetricTimeframeId").value = tr.children[0].innerText;
        document.getElementById("MetricId").value = tr.children[1].innerText;
        document.getElementById("name").value = tr.children[2].innerText;
        document.getElementById("metricType").value = tr.children[3].innerText;
        document.getElementById("date").value = tr.children[4].innerText;
        document.getElementById("value").value = tr.children[5].innerText;
        document.getElementById("popupForm").style = 'display:block;';
    }

    function ShowType() {
        document.getElementById("popupMetricType").style = 'display:block;';
    }

    function HideType() {
        document.getElementById("popupMetricType").style = 'display:none;';
    }

    function CancelType() {
        HideType();
        HideAdd();
        CancelAdd();
        document.getElementById("MetricTimeframeId2").value = '';
        document.getElementById("metricName").value = '';
    }

    function EditType(td) {
        document.getElementById("MetricTimeframeId2").value = td.children[0].innerText;
        document.getElementById("metricName").value = td.children[3].innerText;
        document.getElementById("popupMetricType").style = 'display:block;';
        CancelAdd();
    }

</script>

<div class="head">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>This page will be used for Scheduling your day into blocks of time.</p>
    <br />
    <p>Click on an event to make changes.</p>
</div>

<div class="planner">
    <div class="time-block-planner">
        <table class="table">
            <tr>
                <th style="display:none;">
                    MetricTimeframeId
                </th>
                <th style="display:none;">
                    MetricId
                </th>
                <th>
                    Metric Name
                </th>
                <th>
                    Metric Type
                </th>
                <th>
                    Date
                </th>
                <th>
                    Value
                </th>
            </tr>
            @* Example of the layout *@
            <tr onclick="EditRow(this)">
                <td style="display:none;">
                    1
                </td>
                <td style="display:none;">
                    1
                </td>
                <td>
                    Weekly Workouts
                </td>
                <td onclick="EditType(this.parentElement)">
                    Hours
                </td>
                <td>
                    @DateTime.Now
                </td>
                <td>
                    2
                </td>
            </tr>

            @* -- This will be used to create the table on the page -- *@
            @*@foreach (UserData.Models.UserMetric userMetric in Model.UMetrics)
            {
                <tr onclick="EditRow(this)">
                    <td style="display:none;">
                        @userMetric.metricTimeFrame.MetricTimeFrameID
                    </td>
                    <td>
                        @userMetric.metric.MetricID
                    </td>
                    <td>
                        @userMetric.metric.Name
                    </td>
                    <td>
                        @userMetric.Date
                    </td>
                </tr>
            } *@


        </table>
    </div>

    <div>
        <button class="btn btn-primary" onClick="ShowAdd()">Create Metric</button>
        <button class="btn btn-primary" onClick="ShowType()">Create Metric Type</button>
    </div>
</div>

<div id="popupForm" class="popup-form">
    <form class="popup-content" id="add-item" method="post" asp-page-handler="Metric">
        <input type="hidden" asp-for="UserMetric.metricTimeframeId" id="MetricTimeframeId" name="MetricTimeframeId" />
        <input type="hidden" asp-for="UserMetric.metricId" id="MetricId" name="MetricId" />
        <label class="form-label" for="name">Name this Metric:</label>
        <input class="form-control" type="text" asp-for="UserMetric.metricName" id="name" name="name" required />
        <br />
        <label class="form-label" for="metricType">Name this Metric:</label>
        <select class="form-control" asp-for="UserMetric.metricTimeframeName" id="metricType" name="metricType" required>
            @foreach (UserData.Models.MetricTimeframe metricTimeframe in Model.MetricTimeframes)
            {
                <option value="@metricTimeframe.Name">@metricTimeframe.Name</option>
            }
        </select>
        <br />
        <label class="form-label" for="date">Select Date:</label>
        <input class="form-control" type="date" asp-for="UserMetric.date" id="date" name="date" required />
        <br />
        <label class="form-label" for="value">Value:</label>
        <input class="form-control" type="number" asp-for="UserMetric.value" id="value" name="value" required />
        <br />
        <input class="btn btn-primary" type="submit" onClick="HideAdd()" />
        <input class="btn btn-primary" type="button" id="cancel" onClick="CancelAdd()" value="cancel" />
    </form>
</div>

<div id="popupMetricType" class="popup-form">
    <form class="popup-content" id="add-type" method="post" asp-page-handler="MetricTimeframe">
        <input type="hidden" asp-for="MetricTimeframe.metricTimeframeId" id="MetricTimeframeId2" name="MetricTimeframeId2" />
        <label class="form-label" for="name">Name this Metric Type:</label>
        <input class="form-control" type="text" asp-for="MetricTimeframe.name" id="metricName" required />
        <br />
        <label class="form-label" for="isDeleted">Completed Goal:</label>
        <input type="checkbox" id="isDeleted" asp-for="MetricTimeframe.IsDeleted" name="isDeleted" value="true" />
        <br />
        <input class="btn btn-primary" type="submit" onClick="HideType()" />
        <input class="btn btn-primary" type="button" id="cancel" onClick="CancelType()" value="cancel" />
    </form>
</div>